<div>
  <h3>Super Calculator</h3>

  <form class="form-inline">
    <input data-ng-model="calculatorCtrl.first" type="text" class="input-small"/>
    <select data-ng-model="calculatorCtrl.operator" class="span1"
            data-ng-options="value for (key, value) in calculatorCtrl.operators">
    </select>
    <input data-ng-model="calculatorCtrl.second" type="text" class="input-small"/>
    <button data-ng-click="calculatorCtrl.doAddition()" id="gobutton" class="btn">Go!</button>
    <h2 data-ng-bind="calculatorCtrl.latest"></h2>
  </form>
</div>
<h4>History</h4>
<table class="table">
  <thead>
  <tr>
    <th>Time</th>
    <th>Expression</th>
    <th>Result</th>
  </tr>
  </thead>
  <tr data-ng-repeat="result in calculatorCtrl.memory">
    <td data-ng-bind="result.timestamp | date:'mediumTime'"></td>
    <td>
      <span data-ng-bind="result.first"></span>
      <span data-ng-bind="result.operator"></span>
      <span data-ng-bind="result.second"></span>
    </td>
    <td data-ng-bind="result.value"></td>
  </tr>
</table>
