<div class="grid_6 heading clients-heading">
  <h1>Session:<br> <strong>Hands-on Test Automation Tools</strong></h1>

  <p style="font-size: 20px; width: 650px;">Please visit our <a href="#/phones">Phone Catalog</a></p>

  <p style="font-size: 20px; width: 650px;">Please visit our <a href="#/calculator">Calculator</a></p>

</div>
